/* Tooltip 容器 */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* 悬停元素上显示点线 */
}
 
/* Tooltip 文本 */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: Lavender;
    padding: 0 10px;
    border-radius: 3px;
    width: max-content;
    max-width: 500px;
    /* 定位 */
    position: fixed;
    z-index: 1;
    white-space: normal;
}
.inner {
	overflow-x: auto;
}
.inner, .inner th, .inner td {
	white-space: nowrap;
	border: 1px solid;
}
.inner th, .inner td {
	padding: 0px 5px;
}
.inner td {
	border-collapse: collapse;
}